<main class="container mx-auto mt-8 px-4">
  <div class="flex justify-between items-center mb-8">
    <h2 class="text-2xl font-semibold">Gestión de Órdenes</h2>
    <div class="flex gap-4">
      <button
        class="bg-green-600 text-white px-4 py-2 rounded-lg hover:bg-green-700 cursor-pointer"
        (click)="openAddOrderForm()"
      >
        Nueva Orden
      </button>
      <button
        class="bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600 cursor-pointer"
        (click)="getOrders()"
      >
        Filtrar
      </button>
    </div>
  </div>

  <!-- filters -->
  <div class="bg-white p-6 rounded-lg shadow mb-6">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
      <input
        type="text"
        placeholder="Buscar orden..."
        class="p-2 border rounded-lg"
      />
      <select class="p-2 border rounded-lg">
        <option>Estado: Todos</option>
        <option>Pendiente</option>
        <option>En proceso</option>
        <option>Completado</option>
      </select>
      <input type="date" class="p-2 border rounded-lg" />
    </div>
  </div>

  <!-- table -->

  <div class="bg-white rounded-lg shadow overflow-hidden">
    <table class="w-full">
      <thead class="bg-gray-50">
        <tr>
          <th class="px-6 py-3 text-left text-sm font-medium text-gray-500">
            # Orden
          </th>
          <th class="px-6 py-3 text-left text-sm font-medium text-gray-500">
            Cliente
          </th>
          <th class="px-6 py-3 text-left text-sm font-medium text-gray-500">
            Ubicación recogida
          </th>
          <th class="px-6 py-3 text-left text-sm font-medium text-gray-500">
            Ubicación entrega
          </th>
          <th class="px-6 py-3 text-left text-sm font-medium text-gray-500">
            Capacidad
          </th>
          <th class="px-6 py-3 text-left text-sm font-medium text-gray-500">
            Estado
          </th>
          <th class="px-6 py-3 text-left text-sm font-medium text-gray-500">
            Acciones
          </th>
        </tr>
      </thead>
      <tbody class="divide-y divide-gray-200">
        @if(orders$ | async; as orders){ @for (order of orders; track $index) {

        <tr class="hover:bg-gray-50">
          <td class="px-6 py-4">{{ order.id }}</td>
          <td class="px-6 py-4">{{ order.customer }}</td>
          <td class="px-6 py-4">
            {{ order.pickup_lng }} - {{ order.pickup_lat }}
          </td>
          <td class="px-6 py-4">
            {{ order.delivery_lng }} - {{ order.delivery_lat }}
          </td>
          <td class="px-6 py-4">{{ order.capacity }}</td>
          <td class="px-6 py-4">
            <span
              class="bg-yellow-100 text-yellow-800 px-3 py-1 rounded-full text-sm"
            >
              {{ order.status }}
            </span>
          </td>
          <td class="px-6 py-4 flex gap-2">
            <button class="text-blue-600 hover:text-blue-800">Editar</button>
            <button class="text-red-600 hover:text-red-800">Eliminar</button>
          </td>
        </tr>
        }}
      </tbody>
    </table>
  </div>

  <custom-dialog [open]="true">
    
    <div dialog-header>
      <h2 class="font-semibold text-[#1d2d3e] text-lg">Agregar Nueva Orden</h2>
    </div>

    <div dialog-footer>
      <div class="flex justify-end gap-4">
        <button
          type="button"
          class="bg-gray-200 text-gray-800 px-4 py-2 rounded-lg hover:bg-gray-300 transition-colors"
        >
          Cancelar
        </button>
        <button
          type="submit"
          form="order-form"
          class="bg-green-600 text-white px-4 py-2 rounded-lg hover:bg-green-600 transition-colors"
        >
          Crear Orden
        </button>
      </div>
    </div>

    <div id="order-form" class="space-y-4">
      <div class="space-y-2">
        <label class="block text-sm font-medium text-gray-700">
          Cliente
        </label>
        <input
          type="text"
          class="w-full p-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
          placeholder="Cliente"
          required
          name="customer"
          onChange="{handleFiltros}"
        />
      </div>

      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div class="space-y-2">
          <label class="block text-sm font-medium text-gray-700">
            Capacidad
          </label>
          <input
            type="numeric"
            class="w-full p-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
            placeholder="Capacidad"
            required
            name="capacity"
            onChange="{handleFiltros}"
          />
        </div>

        <div class="space-y-2">
          <label class="block text-sm font-medium text-gray-700">
            Estado
          </label>
          <select
            class="w-full p-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
            defaultValue="Pendiente"
            onChange="{handleFiltros}"
            name="status"
          >
            <option value="Pendiente">Pendiente</option>
            <option value="En Proceso">En proceso</option>
            <option value="Completado">Completado</option>
          </select>
        </div>
      </div>
      <p>Ubicación Recogida</p>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div class="space-y-2">
          <label class="block text-sm font-medium text-gray-700">
            Latitud
          </label>
          <input
            type="text"
            class="w-full p-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
            placeholder="Ej: -12.084593"
            required
            onChange="{handleFiltros}"
            name="pickup_lat"
          />
        </div>

        <div class="space-y-2">
          <label class="block text-sm font-medium text-gray-700">
            Longitud
          </label>
          <input
            type="text"
            class="w-full p-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
            placeholder="Ej: -77.029709"
            required
            onChange="{handleFiltros}"
            name="pickup_lng"
          />
        </div>
      </div>
      <p>Ubicación Destino</p>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div class="space-y-2">
          <label class="block text-sm font-medium text-gray-700">
            Latitud
          </label>
          <input
            type="text"
            class="w-full p-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
            placeholder="Ej: -12.084593"
            required
            onChange="{handleFiltros}"
            name="delivery_lat"
          />
        </div>

        <div class="space-y-2">
          <label class="block text-sm font-medium text-gray-700">
            Longitud
          </label>
          <input
            type="text"
            class="w-full p-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
            placeholder="Ej: -77.029709"
            required
            onChange="{handleFiltros}"
            name="delivery_lng"
          />
        </div>
      </div>
    </div>
  </custom-dialog>
</main>
