<nav class="bg-blue-600 text-white p-4">
  <div class="container mx-auto flex justify-between items-center">
    <h1 class="text-2xl font-bold">OptiRutas</h1>
    <div class="space-x-4">
      <button
        routerLink="/orders"
        routerLinkActive="router-link-active"
        class="hover:bg-blue-700 px-3 py-2 rounded"
      >
        Orders
      </button>
      <button
        routerLink="/route-optimization"
        class="hover:bg-blue-700 px-3 py-2 rounded"
      >
        Routes
      </button>
      <button routerLink="/metrics" class="hover:bg-blue-700 px-3 py-2 rounded">
        Metrics
      </button>
      <li><a routerLink="/simulation">Simulación de Vehículos</a></li>
    </div>
  </div>
</nav>
